.sec5{
  display: flex;
  flex-direction: column;
  color: #fff ;
}

.top1{
  position: relative;
  top: 0;
  left: 0; 
}
.top1 p{
  position: absolute;
  color: #fff;
  top: 50%;
  height: 100%;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
.top1 img{
  width: 100%;
}
.info{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.info img{
  width: 100%;
}

.info p{
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding: 0 10%;
  color: #017efe;
}

.info h1{
  color: #017efe;
  position: absolute;
  bottom: 25%;
  width: 100%;
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 699px){
  .sec5{
    margin-top: 8%;
    padding: 0;
    height: 100%;
  }
  .top1{
    position: relative;
    top: 13%;
    height: 300px;
  }
  .top1 p{
    font-size: 18px;
    padding: 0 10%;
    top: 40%;
  }
  .top1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info p{
    font-size: 12px;
  }
  .info h1{
    font-size: 16px;
  }
  .info{
    position: relative;
    height: 300px;
  }
  .info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width:700px) and (max-width: 1050px){
 
  .top1 p{
    font-size: 25px;
  }
  .info p{
    font-size: 20px;
  }
  .info h1{
    font-size: 25px;
  }
}
/* ==================== sec 6 end ================== */
/* ================= sec 7 start ================== */
/* .sec7{
  background-size: 100%;
} */

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 10%;
  padding-bottom: 0;
}

.streamline{
  display: flex;
  width: 100%;
  gap: 20px;
}
.image0{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 40px;
}
.image0 img{
  width: 100%;
}
.streamimg{
 border-radius: 20px;
 box-shadow: -10px 10px #017efe;
}

.stworkflow{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
.data{
  display: flex;
  gap: 20px;
}
.image01{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px;
  justify-content: flex-end;
}

.image01 img{
  width: 100%;
}

.dataimg{
  border-radius: 20px;
  box-shadow: 10px 10px #017efe;
}

.insights{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width:699px) {
  .container{
    gap: 30px;
    padding: 20px 10%;
  }
  .container p{
    font-size: 12px;
  }
  .streamline{
    flex-direction: column;
    gap: 20px;
  }
  .data{
    flex-direction: column;
    gap: 20px;
  }
  .image0{
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .image01{
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .dataimg{
    box-shadow: 8px 8px #017efe;
  }
}

@media (min-width: 700px) and (max-width: 1050px){
  .container p{
    font-size: 12px;
  }
  .streamline{
    height: 250px;
  }
  .image0{
    padding: 10px;
  }
  .line1{
    top: 7%;
  }
  .streamimg{
    margin-top: 0;
    box-shadow: -8px 8px #017efe;
  }
  .data{
    height: 100%;
  }
}
/* ===============sec7 end ================= */
/* ===============sec8 start ================= */

.value{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.vatimg{
  border-radius: 20px;
  box-shadow: -10px 10px #017efe;
}
.val{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.online{
  display: flex;
  justify-content: center;
  align-items: center;
}
.on{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.onlimg{
  border-radius: 20px;
  box-shadow: 10px 10px #017efe;
}
@media screen and (max-width:699px){
  .value{
    flex-direction:column ;
    gap: 20px;
  }
  .online{
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1050px){
  .vatimg{
    margin-left: 35px;
  }
  .image03{
    height: 100%;
  }
  .image04{
    width: 100%;
    height: 100%;
  }
  .online{
    padding-top: 40px;
  }
  .data{
    padding-top: 10%;
  }
}