.sec4{
  display: flex;
  padding: 0 10%;
  padding-top: 60px;
}
.image4{
  width: 60%;
}
.man1{
  width: 100%;
  position: relative;
  right: -37%;
}
.man2{
  display: none;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #017efe;
  width: 100%;
}
form{
  display:flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;  
  width: 80%;
}
form input{
  width: 60%;
  padding: 8px;
  border-radius: 15px;
  outline: none
}

form textarea{
  padding: 10px;
  max-height: 200px;
  max-width: 80%;
  min-width: 60%;
  min-height: 150px;
  outline: none;
  border-radius:10px ;
}
.btns{
  display: flex;
  align-items: flex-start;
  width: 78%;
}
.btn7{
  padding: 7.5px 15px;
  background-color: #fff;
  color: #017efe;
  border-radius: 20px;
}
.btn7:hover{
  background-color: #d2ebfc;
  transition: all 0.4s ease-in-out;
}
.btn7:active{
  background-color: #fff;
}
.icns{
  display: flex;
  flex-direction: column;
  width: 79%;
  gap: 20px;
  color: #d2ebfc;
  font-weight: 500;
  padding: 10px;
  margin-top: 10px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}
.icns1{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icns a{
  color: #fff;
}

.icns a:hover{
  color: #d2ebfc;
  transition: all ease-in-out;
}
.icns a:active{
  color: #fff;
  transition: all ease-in-out;
}
.messagesent{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image5{
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 5px 5px lightgray;
  border-radius: 20px;
}

.image5 img{
  width: 90%;
}
.image5 p{
  color: #017efe;
  font-size: 15px;
}
.back{
  color: #017efe;
}

@media screen and (max-width: 699px){
  .sec4{
    margin-top: 10%;
    padding-bottom: 5%;
    flex-direction: column;
    gap: 20px;
  }
  .man1{
    display: none;
  }
  .image4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  /* .man2{
    display: block;
    width: 90%;
    border-radius: 20px;
  }  */
  .form{
    padding: 10px;
    border-radius: 20px;
  }
  form{
    width: 100%;
  }
  form input{
    width: 100%;
  }
  form textarea{
    max-width: 100%;
  }
  .btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icns{
    font-size: 10px;
    width: 100%;
  }
  .image5{
    width: 250px;
    height: 250px;
  }
}

@media (min-width:700px) and (max-width: 1050px){
  .form{
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .image4{
    width: 70%;
  }
  form input{
    width: 100%;
  }
  form textarea{
    max-width: 100%;
  }
  .icns{
    font-size: 11px;
  }
}